<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDERR" target="SYSTEM_ERR">
            <PatternLayout pattern="%d [%t] %highlight{%-5level} %c - %msg%n" />
        </Console>
    </Appenders>
    <loggers>
        <Logger name="org.apache.log4j.xml" level="all"/>
        <root level="all">
            <appender-ref ref="STDERR"/>
        </root>
    </loggers>
</Configuration>